/* Global styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff0000; /* Warna latar belakang navbar merah */
  color: white;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

.content {
  padding: 20px;
}

/* Input Page specific styles */

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Bottom navbar styles */

footer {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

.navbar-bottom ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-bottom li {
  display: inline;
  margin-right: 20px;
}

.navbar-bottom a {
  color: white;
  text-decoration: none;
}

.navbar-bottom a:hover {
  text-decoration: underline;
}


/*/Table/*/
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}